@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  font-weight: 400;
  color: var(--cl--2--);
  margin: 0;
  padding: 0;
}

body {
  --cl--1--: #ffffff;
  --cl--2--: #292f36;
  --cl--3--: #4d5053;
  --cl--4--: #f4f0ec;
  --cl--5--: #cda274;
  --gap--: clamp(1rem, 4vw, 4rem);
  font-size: 1.25rem;
}

img {
  display: flex;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: ‘DM Serif Display’, serif;
  text-transform: capitalize;
  line-height: 125%;
}

.row {
  display: flex;
}

.flex {
  flex-wrap: wrap;
  gap: var(--gap--);
}

.flex > * {
  flex: 1 1 30rem;
}

.column {
  display: grid;
}

.grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--gap--);
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

/*Navigation*/

header {
  align-items: center;
  justify-content: space-between;
  gap: var(--gap--);
  padding: 1.5rem 0;
}

.icon {
    display: flex;
    gap: 12px;
    line-height: 1.1;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

.logo img {
  object-fit: contain;
  max-height: 35px;
}

.toggleMenu {
  display: none;
}

nav {
  align-items: center;
  gap: var(--gap--);
}

nav a {
  font-size: 1.25rem;
  fill: transparent;
  stroke: var(--cl--2--);
}

nav a:hover {
  color: var(--cl--5--);
  stroke: var(--cl--5--);
}

nav a svg {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
}

nav a:hover svg {
  transform: rotate(45deg);
  -webkit-transform: 0.5s ease-in-out;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/* End navigation*/

/* Hero */
.hero {
  /* background-image: url(../img/pexels-rana-matloob-hussain-733235258-26886877.jpg); */
  background-image: url(../img/pexels-rana-matloob-hussain-733235258-26886880.jpg);
  /* background-image: url(../img/pexels-rana-matloob-hussain-733235258-26886913.jpg); */
  /* Photo by Rana Matloob Hussain https://www.pexels.com/@rana-matloob-hussain-733235258/*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.hero .container {
  height: clamp(50vh, 100vw, 80vh);
  align-items: center;
}

.hero-content {
  
    background-color: var(--cl--1--);
  height: fit-content;
  opacity: 0.8;
  padding: 1rem 0.8rem;
  margin: 0.5rem;
  border-radius: 12px;
  
}

h1 {
  font-size: clamp(2rem, 7.5vw, 3rem);
  font-weight: 700;
  color: var(--cl--2--);
  font-style: italic;
}

.hero-content a {
font-size: clamp(0.8rem, 5vw, 1.375rem);
line-height: 125%;
color: var(--cl--2--);
font-size: 2rem;
margin: 1.5rem auto;
font-weight: 700;
}

.hero-content img {
  width: 30px;
}

/* End hero */

/* Media */
@media (min-width: 1220px){
.container {
  max-width: 1160px;
}  
}

@media (max-width: 1000px){
  .toggleMenu{
    display: flex;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../img/open.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 30px;
    height: 30px;
    border: 0;
    z-index: 1000;
    transition: background-size .5s ease-in-out;
  -webkit-transition: background-size .5s ease-in-out;
  -moz-transition: background-size .5s ease-in-out;
  -ms-transition: background-size .5s ease-in-out;
  -o-transition: background-size .5s ease-in-out;
  }

  .toggleMenu.active {
    position: fixed;
    right: 5%;
    background-image: url(../img/close.svg);
    background-size: 25px;
 }

 nav {
  position: absolute;
  inset: 0;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  min-height: 0;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transition: opacity 0.5s ease-in-out;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
 }

nav.active {
  position: fixed;
  min-height: 100%;
  opacity: 1;
  background: var(--cl--1--);
  z-index: 999;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

}

